{% extends 'public/base.html' %}
{% load static %}
{% block body %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">个人资料</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <ul class="safty1">
            <li>
                <a href="">
                    <i style="margin-top: 25px;">头像</i>
                    <div class="infor-pic">
                         <img src="{% static 'images/m_02.png' %}"/>

                    </div>
                    <input type="file" name="head">
                </a>
            </li>
            <li>
                    <i>昵称</i>
                    {{ form.nickname }}
            </li>
            <li>
                <a href="">
                    <i>性别</i>
                    <i class="infor-tele">
                        <label class="am-radio-inline">
                            {{ form.gender.0 }}
                        </label>
                        <label class="am-radio-inline">
                            {{ form.gender.1 }}
                        </label>
                        <label class="am-radio-inline">
                            {{ form.gender.2 }}
                        </label>
                    </i>
                </a>
            </li>
            <li>
                <a href="">
                    <i>生日</i>
                    {{ form.birthday }}
                </a>
            </li>
        </ul>
        <div style="height: 10px; background: #efefef;"></div>
        <ul class="safty1">
            <li>
                <i>学校</i>
                {{ form.school_name }}
            </li>
            <li>
                <i>位置</i>
                {{ form.address }}
            </li>
            <li>
                <i>故乡</i>
                {{ form.hometown }}
            </li>
            <li>
                <i>手机</i>
                {{ form.phone }}
            </li>
        </ul>
        <button type="submit" class="login-btn">确定修改
        </button>
        <div style="height: 49px;"></div>
    </form>
{% endblock %}

